/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* ======================
        Variables
======================*/

:root {
  --ff-text: 'Inter', sans-serif;

  --fs-name: 1rem;
  --fs-author: 0.75rem;
  --fs-small-text: 0.625rem;

  --clr-fuchsia: #c93b76;
  --clr-grey: #4d5562;
  --clr-light-grey: #121826a6;
  --clr-white: #e5e7eb;
  --clr-black: #212936;
}

/* ======================
        Styles
======================*/

body,
html {
  height: 100%;
}

body {
  font-family: var(--ff-text);
  background: url('./assets/bg.jpg');

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
}

.music-player {
  background: #00000060;
  border-radius: 1rem;
  padding: 1.25rem;
  padding-bottom: 1.75rem;
  max-width: 360px;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  text-align: center;
}

.track-art {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  & img {
    width: 100%;
    display: block;
  }
}

.track-name {
  text-transform: capitalize;
  font-size: var(--fs-name);
  margin-bottom: 0.25rem;
}

.track-artist {
  font-size: var(--fs-author);
  color: var(--clr-grey);
  margin-bottom: 1.5rem;
}

.seek-bar-container {
  width: 100%;
  margin-bottom: 2rem;
}
.seek-bar {
  height: 4px;
  background: white;
  border-radius: 8px;
  width: 100%;
  z-index: 2;
}

.seek-bar__time {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-small-text);
  margin-bottom: 0.5rem;
  color: var(--clr-grey);
}

.seek-bar__progress {
  height: 100%;
  background: var(--clr-fuchsia);
  border-radius: 2px;
  width: 0%;
}
.seek-bar input {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons path {
}

.hidden {
  display: none;
}

.prev-track,
.playpause-track,
.next-track {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-track {
}

.playpause-track {
  padding: 0.565rem;
  border-radius: 50%;

  background: var(--clr-fuchsia);

  & img {
    width: 32px;
    height: 32px;
  }
}

.next-track {
}
